@import url("https://fonts.googleapis.com/css?family=Montserrat:700");
*{
    margin: 0;
    padding: 0;
}

body{
    margin-bottom: 20px;
}

.mainHeader{
    text-align: center;
    font-family: Montserrat, Tahoma, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.5em;
    background: #bcbcbc;
}

#botInfo{
    padding: 10px;
    font-family: Montserrat, Tahoma, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: lightgray;
}

#botInfo > p{
    margin-left: 25px;
}